/* weekly.css */
.meals-heading {
  font-family: 'Roboto', sans-serif; /* Choose your desired font */
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.day-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.exercise-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
